.uploadForm{
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.list-group{
    color: black;
}

.addSong{
    padding: 0;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(red, green, blue);
}

.button-back{
    margin-left: 30px;
}