.play-button{
        position: relative;

}


.container{
    position: absolute;
    height: 120px;
    bottom: -60px;
    margin-left: 550px;
}

.player{
    width: 600px;
    height: 50px;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);

}

.nextButton{
    position: fixed;
    cursor: pointer;
    margin-left: 25px;
    font-size: 25px;

}

.previousButton{
    position: fixed;
    cursor: pointer;
    margin-right: 50px;
    left: 500px;
    font-size: 25px;

}


