
.fa-plus{
  color: aliceblue;
  cursor: pointer;
  padding:0.5em


}

.fa-plus:hover {
  background: rgb(51, 51, 51);
}

.playlist{
  width: 100%;

}

.playlist-item{
  list-style-type: none;
  line-height: 28px;
  font-size: 18px;
  width: 140px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}